// Define variables for your color scheme

// For example:
$red: #9E2A2B;
$bleuclair: #C4D7F2;
$yellow: #F7B538;
$orange: #F15025;
$beige: #C4D7F2;
$bleufonce: #114B5F;
$light-gray: #C4D7F2;
$gray: #C4D7F2;
